.ui-data-table-tek {
  padding: .5rem;

  .data-table {
    width: 100%;
    text-align: center;
    border-spacing: 0px;

    thead {
      background-color: rgb(183 211 253);
      color: #383838;

      tr {
        th {
          padding-top: .8rem;
          padding-bottom: .5em;
          font-weight: bold;
          border-bottom: 2px solid lightslategray;
          padding-bottom: .5rem;

          .sortable-column {
            vertical-align: middle;
            padding-left: 0.2rem;
          }
        }
      }
    }

    tbody {
      td {
        padding: 0.4rem;
      }

      tr:nth-child(even) {
        background-color: rgb(231 240 255);
        color: #383838;
      }

      tr:hover {
        color: rgb(0, 102, 255);
        cursor: pointer;
      }

      .action-buttons {
        display: flex;
        justify-content: space-evenly;

        .trash {
          color: rgb(253, 82, 82);
        }

        .edit:hover {
          color: rgb(0, 87, 218);
        }

        .trash:hover {
          color: rgb(252, 24, 24);
        }
      }

      .no-row-found {
        text-align: center;
        font-weight: bold;
        color: rgb(253, 82, 82);
      }

      .no-row-found:hover {
        color: rgb(253, 82, 82);
        cursor: default;
      }
    }

  }

  .bordered {
    border-spacing: 2px;
  }

  .show-pointer {
    cursor: pointer;
  }

  .show-global-search {
    display: flex;
    justify-content: space-between;

    .table-title {
      font-size: x-large;
      font-weight: 500;
      padding-left: 1rem;
    }

    input {
      width: 15rem;
      height: 2rem;
      border: 1px solid gray;
      border-radius: 5px;
      font-size: large;
      padding-left: 1.8rem;
      background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
      background-size: 25px;
      margin-bottom: 1rem;
    }
  }

  .table-footer {
    border-top: 2px solid gray;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 1rem;

    .table-footer-left {
      display: flex;
      justify-content: space-around;
      align-content: center;
      flex-direction: row;

      .table-footer-left-2 {
        text-decoration: underline;
        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-direction: column;
      }

      .show-all-data {
        padding-left: 2rem;
        padding-top: 0.4rem;
      }
    }

    .table-footer-right {
      display: flex;
      justify-content: space-evenly;
      width: 30%;

      button {
        font-weight: bold;
      }

      .current-page {
        border: 1px solid #0d6efd;
        padding: 4px;
        border-radius: 5px;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: bold;
      }
    }
  }

  .table-selected-rows {
    background-color: #0359da23;
    margin-top: 0.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    p {
      padding-left: 1rem;
    }

    .do-with-selected {
      padding-left: 2rem;
      color: #0359da;
      font-weight: bold;
    }

    .do-with-selected:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  svg {
    color: #2b81d6cf;
  }
}